body{
    margin:0;
    font-family:Arial;
    background:#1d4ed8;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.login-box{

    background:white;

    padding:40px;

    width:350px;

    border-radius:15px;

    box-shadow:0px 10px 30px rgba(0,0,0,.3);

}

h1{

    color:#1d4ed8;

    text-align:center;

}

p{

    text-align:center;

    color:gray;

}

input{

    width:100%;

    padding:12px;

    margin-top:15px;

    border-radius:8px;

    border:1px solid #ccc;

    box-sizing:border-box;
}

button{

    width:100%;

    margin-top:20px;

    padding:12px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;
}

button:hover{

    background:#1d4ed8;

}